<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xmlns:context="http://www.springframework.org/schema/context"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
<!--        http://www.springframework.org/schema/beans/spring-beans.xsd-->
<!--        http://www.springframework.org/schema/context-->
<!--        http://www.springframework.org/schema/context/spring-context.xsd">-->

<!--    <context:property-placeholder location="sport.properties"/>-->
<!--    <context:component-scan base-package="md.Sergiu.Spring"/>-->

<!--&lt;!&ndash;    <bean id="myFortuneService"&ndash;&gt;-->
<!--&lt;!&ndash;          class="md.Sergiu.Spring.RandomFortuneService">&ndash;&gt;-->
<!--&lt;!&ndash;    </bean>&ndash;&gt;-->

<!--&lt;!&ndash;    <bean id="myCoach"&ndash;&gt;-->
<!--&lt;!&ndash;          class="md.Sergiu.Spring.CricketCoach">&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="fortuneService" ref="myFortuneService"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="emailAddress" value="${email}"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="team" value="${team}"/>&ndash;&gt;-->
<!--&lt;!&ndash;    </bean>&ndash;&gt;-->

<!--&lt;!&ndash;    <bean id="myTrackCoach"&ndash;&gt;-->
<!--&lt;!&ndash;          class="md.Sergiu.Spring.TrackCoach"&ndash;&gt;-->
<!--&lt;!&ndash;          scope="prototype"&ndash;&gt;-->
<!--&lt;!&ndash;          init-method="doMyStartupStuff"&ndash;&gt;-->
<!--&lt;!&ndash;          destroy-method="doMyCleanupStuff">&ndash;&gt;-->
<!--&lt;!&ndash;        <property name="fortuneService" ref="myFortuneService"/>&ndash;&gt;-->
<!--&lt;!&ndash;    </bean>&ndash;&gt;-->
<!--</beans>-->