<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="ISO-8859-1">
    <title>Show</title>
</head>

<body>
<form th:method="POST" th:action="@{/student}" th:object="${student}">
    <label for="firstName">Enter Firstname: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <label for="lastName">Enter Lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <div style="color: #ff0051" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    <br/>
    <label for="email">Enter Lastname: </label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color: #ff0051" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>

</html>